body{
    background: linear-gradient(to right, rgb(164, 195, 245),white);
    text-transform: capitalize;
    text-align: center;
    font-size: 1.25em;
    font-family: sans-serif;
}

h1:hover{
    color: red;

}
.subs{
    color: blue;
}
.hello div:first-child{
color: blue;
}
.hello div:last-child{
    color: brown;
}
img[src*="maskdetection.PNG"]{
    border: black solid 10px;
    height: 100px;
    width: 300px;
}
img[src="../images/resd.PNG"]{
    border: red solid 10px;
    height: 300px;
    width: 300px;
}
#service-image{
    background: url("tshirtdesignmlh.jpg");
    height: 1000px;
    width: 70%;
    
    background-size: ;
    background-repeat: repeat;
}
/* p{
    background: rgba(red, green, blue, alpha);
} */
.gradient{
    height: 400px;
    width: 40%;
    /* background: linear-gradient(to right,red,blue); */
    /* background: linear-gradient(255deg, rgb(red,green,blue)); */
    background: radial-gradient(red,blue);
}
/* Text-decoration used to add or remove underlines */
.textdecor{
    text-decoration: underline;
}
.float{
    float: right;
}
.container{
    background: rgb(250,250,250);
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* justify-content: center; */

}
.container-item{
    background: rgb(36,130,39);
    color: white;
    font-size: 25px;
    text-align: center;
    width: 70px;
    line-height: 50px;
    margin: 10px;

}
.grid-container{
    background-color: rgb(250,250,250);
    margin: 10px;
    height: 500px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;

}
.grid-items{
    color: black;
    font-size: 25px;
    text-align: center;
    width: 70px;
    line-height: 40px;
}
.submit-button {
	margin: 20px 10px;
	padding: 10px 15px;
	border: none;
	text-decoration: none;
	font-family: "Lato", sans-serif;
	font-weight: 600;
	font-size: 20px;
	color: white;
	background: rgb(89, 150, 255);
    transition: all 500ms  ease;
	/* transform: matrix(1, 0.45, 0.45, 1, 100, 50); */
	/* -webkit-transition: background, padding 500ms ease;
	-moz-transition: background, padding 500ms ease;
	-o-transition: background, padding 500ms ease; */
}

.submit-button:hover {
	background: rgb(147, 187, 255);
	padding: 20px 30px;
}
#decorate{
    /* animation-name: red-to-black;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: 2;
    animation-direction: alternate; */
    animation: red-to-black 4s  2s infinite alternate;
}
@keyframes red-to-black{
    0% {background: red;
    transform: translate(0px,0px);}
    100% {background:green ;
        transform: translate(10px,10px);
    }
}